<div class="jumbotron mt4">
    <h1 class="display-4"> Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime cum molestias maiores minima eos amet.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus magni eveniet, animi labore similique illum doloribus consectetur et. Beatae.</p>
    <a href="http://www.ufrr.br" class="btn btn-primary">Ufrr</a>
</div>